@font-face {
  font-family: rajdhani;
  src: url(../font/Rajdhani-Regular.ttf);
}

@font-face {
  font-family: rajdhani-bold;
  src: url(../font/Rajdhani-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: rajdhani;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: rajdhani-bold;
}

.color-subtitle {
  color: #0095D9 !important;
}

.color-icon {
  color: #0095D9 !important;
}

.whats-hover:hover {
  text-decoration: underline !important;
  transition: all .3s ease-in !important;
  -webkit-transition: all .3s ease-in !important;
  -o-transition: all .3s ease-in !important;
}

.bg-contact {
  background: #0095D9;
  border-radius: 0 5px 5px 0;
}

p {
  font-family: rajdhani !important;
}

img {
  width: 100%;
  height: auto;
}

.img-services {
  width: 80px;
}

.bg-none {
  background: none;
}

.color-p {
  color: #0095D9 !important;
}

.color-white {
  color: #efefef;
}

.bg-principal {
  background: #212529 !important;
}

.bg-second {
  background: #f5f6fa;
}

.card-shadow {
  -webkit-box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.2) !important;
          box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.2) !important;
}

.card {
  -webkit-transition: .1s ease-in;
  transition: .1s ease-in;
}

.card:hover {
  -webkit-box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.2) !important;
          box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.2) !important;
  -webkit-transition: .1s ease-in;
  transition: .1s ease-in;
}

.border-none {
  border: none !important;
}

.border-top {
  border-color: #0095D9 !important;
}

.btn-info {
  background: #0095D9 !important;
  border: 2px solid #0095D9;
  color: #efefef;
}

.btn-secondary {
  background: #efefef !important;
  border: 2px solid #0095D9;
  color: #0095D9;
}

header .menu-bar-pc {
  background: #212529;
  width: 100%;
  height: 80px;
  z-index: 99;
  top: 0;
  padding: 0 2.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu-bar-pc .logo-nav {
  width: 100px;
}

header .menu-bar-pc .menu-principal {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu-bar-pc .menu-principal .list-menu {
  height: 80px;
}

header .menu-bar-pc .menu-principal .list-menu .item-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .menu-bar-pc .menu-principal .list-menu .item-menu a {
  height: 80px !important;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .menu-bar-pc .menu-principal .list-menu .item-menu .sub-menu {
  background: #fff;
  width: 150px;
  margin-top: 80px;
  display: none;
  height: 0;
  -webkit-transition: .3s ease-in !important;
  transition: .3s ease-in !important;
  z-index: 99999;
}

header .menu-bar-pc .menu-principal .list-menu .item-menu .sub-menu .list-submenu {
  list-style: none;
}

header .menu-bar-pc .menu-principal .list-menu .item-menu .sub-menu .list-submenu .item-submenu a {
  padding: 10px 20px;
}

header .menu-bar-pc .menu-principal .list-menu .item-menu .sub-menu .list-submenu .item-submenu a:hover {
  background: rgba(0, 0, 0, 0.2);
}

header .menu-bar-pc .menu-principal .list-menu .item-menu:hover {
  background: rgba(0, 0, 0, 0.2);
}

header .menu-bar-pc .menu-principal .list-menu .item-menu:hover .sub-menu {
  display: block;
  height: auto;
  -webkit-transition: .3s ease-in !important;
  transition: .3s ease-in !important;
}

header .menu-bar-pc .top-redes a {
  padding: 0 0.5625rem;
  text-decoration: none;
}

header .menu-bar-pc .top-redes a i {
  color: #efefef;
  font-size: 1.65rem;
}

header .menu-bar-movil {
  background: #212529;
  width: 100%;
  z-index: 99;
  top: 0;
  padding: 0 2.25rem;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 5.875rem;
  border-bottom: 1px solid #212529;
}

header .burger-menu {
  cursor: pointer;
  font-size: 2.1875rem;
}

header .burger-menu i {
  color: #efefef;
}

header .slideMenu {
  position: fixed;
  top: 6.3rem;
  left: -80%;
  background: #efefef;
  text-align: center;
  padding: 1.25rem 2.25rem;
  width: 80%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  z-index: 99;
}

header .slideMenu.active {
  left: 0;
}

header .slideMenu .top-redes {
  margin-bottom: 0.625rem;
}

header .slideMenu .top-redes a {
  padding: 0 0.5625rem;
  text-decoration: none;
  color: #121212;
}

header .slideMenu .menu-principal a {
  text-decoration: none;
  display: block;
  padding: 0.625rem 0;
  border-top: 1px solid #d1d1d1;
  color: #872FA8;
}

main html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main *,
main *:before,
main *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

main .slide-content-cta, main .slide-side-text, main .controls-button {
  font-family: 'Montserrat';
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .12rem;
  font-size: .7rem;
  line-height: 1;
}

main [v-cloak] {
  opacity: 0;
}

main body {
  cursor: default;
}

main body ::-moz-selection {
  background-color: rgba(46, 49, 52, 0.7);
  color: #f5f5f1;
}

main body ::selection {
  background-color: rgba(46, 49, 52, 0.7);
  color: #f5f5f1;
}

main body ::-moz-selection {
  background-color: rgba(46, 49, 52, 0.7);
  color: #f5f5f1;
}

main .wrapper {
  height: calc(100vh - 50px);
  min-height: 36rem;
  position: relative;
}

@media (max-width: 630px) {
  main .wrapper {
    height: 100vh;
    min-height: 0;
  }
}

main .slide-wrapper {
  background-size: cover;
  height: 100%;
  background-position: center center;
  position: absolute;
  width: 100%;
  background-blend-mode: darken;
}

main .slide-wrapper:nth-child(1) {
  background-color: rgba(115, 129, 153, 0.4);
}

main .slide-wrapper:nth-child(1):before {
  background-color: rgba(115, 129, 153, 0.25);
}

main .slide-wrapper:nth-child(1) .slide-content-text {
  text-shadow: 2px 5px 45px rgba(85, 96, 113, 0.25);
}

main .slide-wrapper:nth-child(2) {
  background-color: rgba(144, 171, 184, 0.7);
}

main .slide-wrapper:nth-child(2):before {
  background-color: rgba(144, 171, 184, 0.3);
}

main .slide-wrapper:nth-child(2) .slide-content-text {
  text-shadow: 2px 5px 45px rgba(121, 142, 152, 0.2);
}

main .slide-wrapper:nth-child(3) {
  background-color: rgba(86, 125, 156, 0.5);
}

main .slide-wrapper:nth-child(3):before {
  background-color: rgba(86, 125, 156, 0.2);
}

main .slide-wrapper:nth-child(3) .slide-content-text {
  text-shadow: 2px 5px 55px rgba(57, 83, 103, 0.4);
}

main .slide-wrapper:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

main .slide-inner {
  position: relative;
  z-index: 2;
  height: 100%;
  overflow: hidden;
}

main .slide-bg-text {
  font-family: 'Playfair Display';
  color: #000;
  font-size: 42vh;
  line-height: .8;
  opacity: .03;
  font-weight: 900;
  margin-top: -4rem;
  position: absolute;
  top: 50%;
  left: 5vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main .slide-bg-text > p:last-child {
  padding-left: 4rem;
}

main .slide-content {
  color: #fff;
  margin-top: 5rem;
  position: absolute;
  top: 50%;
  left: calc(13vw + (.7) * 48vh);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1000px) {
  main .slide-content {
    left: calc(13vw + 1rem);
  }
}

@media (max-height: 730px) {
  main .slide-content {
    top: 30%;
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
    left: calc(9vw + (.7) * 16vw);
  }
}

main .slide-content-text {
  font-family: 'Playfair Display';
  font-size: 9rem;
  letter-spacing: .2rem;
  line-height: .87;
  font-weight: 700;
  will-change: auto;
}

@media (max-height: 790px) {
  main .slide-content-text {
    font-size: 7rem;
  }
}

@media (max-width: 1150px) {
  main .slide-content-text {
    font-size: 7rem;
  }
}

@media (max-width: 840px) {
  main .slide-content-text {
    font-size: 5.5rem;
  }
}

@media (max-width: 630px) {
  main .slide-content-text {
    margin-bottom: 5.5rem;
  }
}

@media (max-width: 500px) {
  main .slide-content-text {
    font-size: 3.5rem;
  }
}

main .slide-content-text > p:last-child {
  padding-left: 3rem;
}

main .slide-content-cta {
  cursor: pointer;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 4.5rem;
  margin-left: calc((.3) * 48vh + 4.5rem);
  padding: .9rem 2.2rem;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transition: .18s ease-in-out;
  transition: .18s ease-in-out;
  font-weight: 700;
}

@media (max-width: 1000px) {
  main .slide-content-cta {
    background-color: rgba(255, 255, 255, 0.3);
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
}

@media (max-width: 630px) {
  main .slide-content-cta {
    display: none;
  }
}

main .slide-content-cta:hover {
  color: #000;
  background-color: #fff;
}

main .slide-rect {
  height: 62vh;
  width: 48vh;
  border-image-slice: 10%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 13vw;
  border-width: 5vh;
  border-style: solid;
  -webkit-box-shadow: 2px 2px 90px 30px rgba(41, 50, 61, 0.22);
          box-shadow: 2px 2px 90px 30px rgba(41, 50, 61, 0.22);
  will-change: auto;
}

@media (max-height: 790px) {
  main .slide-rect {
    left: 9vw;
    height: 20vw;
    width: 16vw;
    border-width: 5vh;
  }
}

@media (max-height: 730px) {
  main .slide-rect {
    top: 30%;
    -webkit-transform: translateY(-30%);
            transform: translateY(-30%);
  }
}

main .slide-rect-filter {
  -webkit-filter: brightness(110%) contrast(110%) saturate(110%);
          filter: brightness(110%) contrast(110%) saturate(110%);
}

main .slide-side-text {
  position: absolute;
  left: calc(13vw - 3rem);
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  top: calc((50% - (62vh / 2)) + (5vh / 2));
}

@media (max-height: 790px) {
  main .slide-side-text {
    left: calc(9vw - 3rem);
    top: calc((50% - (20vw / 2)) + (5vh / 2));
  }
}

@media (max-height: 730px) {
  main .slide-side-text {
    top: calc((40% - (20vw / 2)) + (5vh / 2));
  }
}

main .slide-side-text > span:first-child {
  font-weight: 700;
}

main .slide-side-text:after {
  content: "";
  width: 1px;
  background-color: #fff;
  height: 40px;
  display: block;
  position: absolute;
  top: calc(100% + 25px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main .controls-container {
  position: absolute;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  right: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 630px) {
  main .controls-container {
    display: none;
  }
}

main .controls-button {
  cursor: pointer;
  background-color: rgba(208, 206, 204, 0.32);
  border: 0;
  padding: 1.6rem 2.2rem;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 15rem;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  outline: 0;
}

@media (max-width: 730px) {
  main .controls-button {
    padding: 1.2rem 1.4rem;
    min-width: 13rem;
  }
}

main .controls-button:not(.active):hover {
  color: #000;
  background-color: #fff;
}

main .controls-button.active {
  cursor: default;
  font-weight: 700;
  background-color: #3b3e45;
  padding-top: 1.9rem;
  padding-bottom: 1.9rem;
  margin-bottom: -0.3rem;
  position: relative;
}

@media (max-width: 730px) {
  main .controls-button.active {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    margin-bottom: -0.15rem;
  }
}

main .controls-button.active:after {
  content: "";
  background-color: #e3e3e3;
  height: 5px;
  width: calc(100% - 8px);
  position: absolute;
  top: 100%;
  left: 4px;
}

main .controls-button:not(.active) + main .controls-button {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}

main .pagination-container {
  position: absolute;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  right: 2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 920px) {
  main .pagination-container {
    display: none;
  }
}

main .pagination-item {
  width: 30px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-transition: .18s ease-in-out;
  transition: .18s ease-in-out;
}

main .pagination-item + main .pagination-item {
  margin-top: 1rem;
}

main .pagination-item.active {
  background-color: #fff;
  position: relative;
  -webkit-transform: translateX(-0.6rem);
          transform: translateX(-0.6rem);
  width: 35px;
}

main .pagination-item.active:after {
  content: "";
  height: 4px;
  width: 2px;
  border-radius: 35%;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateX(0.6rem) translateY(-50%);
          transform: translateX(0.6rem) translateY(-50%);
}

main .pagination-item:not(.active) {
  cursor: pointer;
}

main .pagination-item:not(.active):hover {
  background-color: #fff;
  width: 35px;
}

@-webkit-keyframes slideLeft {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes slideLeft {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@-webkit-keyframes slideRight {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes cutTextUp {
  from {
    -webkit-clip-path: inset(0 0 -10% 0);
            clip-path: inset(0 0 -10% 0);
  }
  to {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
}

@keyframes cutTextUp {
  from {
    -webkit-clip-path: inset(0 0 -10% 0);
            clip-path: inset(0 0 -10% 0);
  }
  to {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
}

@-webkit-keyframes cutTextDown {
  from {
    -webkit-clip-path: inset(100% 0 0 0);
            clip-path: inset(100% 0 0 0);
  }
  to {
    -webkit-clip-path: inset(-10% 0 -20% 0);
            clip-path: inset(-10% 0 -20% 0);
    opacity: 1;
  }
}

@keyframes cutTextDown {
  from {
    -webkit-clip-path: inset(100% 0 0 0);
            clip-path: inset(100% 0 0 0);
  }
  to {
    -webkit-clip-path: inset(-10% 0 -20% 0);
            clip-path: inset(-10% 0 -20% 0);
    opacity: 1;
  }
}

@-webkit-keyframes cutTextDownFromTop {
  from {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
  to {
    -webkit-clip-path: inset(0 0 -30% 0);
            clip-path: inset(0 0 -30% 0);
    opacity: 1;
  }
}

@keyframes cutTextDownFromTop {
  from {
    -webkit-clip-path: inset(0 0 100% 0);
            clip-path: inset(0 0 100% 0);
  }
  to {
    -webkit-clip-path: inset(0 0 -30% 0);
            clip-path: inset(0 0 -30% 0);
    opacity: 1;
  }
}

@-webkit-keyframes rectMovement {
  0% {
    -webkit-transform: translateX(0) rotate(0) translateY(-50%);
            transform: translateX(0) rotate(0) translateY(-50%);
  }
  60% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-50%);
            transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-50%);
    opacity: 0;
  }
}

@keyframes rectMovement {
  0% {
    -webkit-transform: translateX(0) rotate(0) translateY(-50%);
            transform: translateX(0) rotate(0) translateY(-50%);
  }
  60% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-50%);
            transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-50%);
    opacity: 0;
  }
}

@media (max-height: 730px) {
  @-webkit-keyframes rectMovement {
    0% {
      -webkit-transform: translateX(0) rotate(0) translateY(-30%);
              transform: translateX(0) rotate(0) translateY(-30%);
    }
    60% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-30%);
              transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-30%);
      opacity: 0;
    }
  }
  @keyframes rectMovement {
    0% {
      -webkit-transform: translateX(0) rotate(0) translateY(-30%);
              transform: translateX(0) rotate(0) translateY(-30%);
    }
    60% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-30%);
              transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-30%);
      opacity: 0;
    }
  }
}

@-webkit-keyframes rectMovementFromRight {
  0% {
    -webkit-transform: translateX(calc(48vh)) rotate(12deg) translateY(-50%);
            transform: translateX(calc(48vh)) rotate(12deg) translateY(-50%);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0) translateY(-50%);
            transform: translateX(0) rotate(0) translateY(-50%);
    opacity: 1;
    @media (max-height: 730px) {
      -webkit-transform: translateX(0) rotate(0) translateY(-30%);
              transform: translateX(0) rotate(0) translateY(-30%);
    }
  }
}

@keyframes rectMovementFromRight {
  0% {
    -webkit-transform: translateX(calc(48vh)) rotate(12deg) translateY(-50%);
            transform: translateX(calc(48vh)) rotate(12deg) translateY(-50%);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0) translateY(-50%);
            transform: translateX(0) rotate(0) translateY(-50%);
    opacity: 1;
    @media (max-height: 730px) {
      -webkit-transform: translateX(0) rotate(0) translateY(-30%);
              transform: translateX(0) rotate(0) translateY(-30%);
    }
  }
}

@media (max-height: 730px) {
  @-webkit-keyframes rectMovementFromRight {
    0% {
      -webkit-transform: translateX(calc(48vh)) rotate(12deg) translateY(-30%);
              transform: translateX(calc(48vh)) rotate(12deg) translateY(-30%);
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0) translateY(-30%);
              transform: translateX(0) rotate(0) translateY(-30%);
      opacity: 1;
    }
  }
  @keyframes rectMovementFromRight {
    0% {
      -webkit-transform: translateX(calc(48vh)) rotate(12deg) translateY(-30%);
              transform: translateX(calc(48vh)) rotate(12deg) translateY(-30%);
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0) translateY(-30%);
              transform: translateX(0) rotate(0) translateY(-30%);
      opacity: 1;
    }
  }
}

@-webkit-keyframes rectMovementRight {
  0% {
    -webkit-transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-50%);
            transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-50%);
  }
  40% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0) translateY(-50%);
            transform: translateX(0) rotate(0) translateY(-50%);
    opacity: 1;
    @media (max-height: 730px) {
      -webkit-transform: translateX(0) rotate(0) translateY(-30%);
              transform: translateX(0) rotate(0) translateY(-30%);
    }
  }
}

@keyframes rectMovementRight {
  0% {
    -webkit-transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-50%);
            transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-50%);
  }
  40% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0) translateY(-50%);
            transform: translateX(0) rotate(0) translateY(-50%);
    opacity: 1;
    @media (max-height: 730px) {
      -webkit-transform: translateX(0) rotate(0) translateY(-30%);
              transform: translateX(0) rotate(0) translateY(-30%);
    }
  }
}

@media (max-height: 730px) {
  @-webkit-keyframes rectMovementRight {
    0% {
      -webkit-transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-30%);
              transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-30%);
    }
    40% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0) translateY(-30%);
              transform: translateX(0) rotate(0) translateY(-30%);
      opacity: 1;
    }
  }
  @keyframes rectMovementRight {
    0% {
      -webkit-transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-30%);
              transform: translateX(calc(-48vh + -13vw)) rotate(12deg) translateY(-30%);
    }
    40% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(0) rotate(0) translateY(-30%);
              transform: translateX(0) rotate(0) translateY(-30%);
      opacity: 1;
    }
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main .slide-wrapper {
  opacity: 0;
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  will-change: opacity, transform;
}

main .slide-wrapper:not(.active) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-name: slideLeft;
          animation-name: slideLeft;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
  -webkit-animation-timing-function: cubic-bezier(0.18, 0.54, 0.52, 0.93);
          animation-timing-function: cubic-bezier(0.18, 0.54, 0.52, 0.93);
  pointer-events: none;
}

main .slide-wrapper:not(.active) .slide-content-text > p,
main .slide-wrapper:not(.active) .slide-side-text {
  -webkit-animation-name: cutTextUp;
          animation-name: cutTextUp;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

main .slide-wrapper:not(.active) .slide-rect {
  -webkit-animation-name: rectMovement;
          animation-name: rectMovement;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .slide-wrapper.active {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 1;
}

main .slide-wrapper.active .slide-content-text > p {
  opacity: 0;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  -webkit-animation-name: cutTextDown;
          animation-name: cutTextDown;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

main .slide-wrapper.active .slide-rect {
  opacity: 0;
  -webkit-animation-name: rectMovementFromRight;
          animation-name: rectMovementFromRight;
  -webkit-animation-duration: 0.45s;
          animation-duration: 0.45s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.is-previous main .slide-wrapper:not(.active) {
  -webkit-animation: none;
          animation: none;
}

.is-previous main .slide-wrapper:not(.active) .slide-rect {
  -webkit-animation: none;
          animation: none;
}

.is-previous main .slide-wrapper.active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-name: slideRight;
          animation-name: slideRight;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-timing-function: cubic-bezier(0.18, 0.54, 0.52, 0.93);
          animation-timing-function: cubic-bezier(0.18, 0.54, 0.52, 0.93);
}

.is-previous main .slide-wrapper.active .slide-rect {
  opacity: 0;
  -webkit-animation-name: rectMovementRight;
          animation-name: rectMovementRight;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

main .first-load .slide-wrapper.active .slide-side-text,
main .first-load .slide-wrapper.active .slide-content-cta,
main .first-load .slide-wrapper.active .slide-rect,
main .first-load .controls-container {
  opacity: 0;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

main .first-load .slide-wrapper.active .slide-content-text > p {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
}

main #banner-desarrollo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 280px;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

main #portada {
  width: 100%;
  height: 600px;
  background-image: url(../img/infraestructura-it.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main #portada-desarrollo {
  width: 100%;
  height: 600px;
  background-image: url(../img/Recurso2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right;
}

main #bg_skills {
  width: 100%;
  height: 100%;
  background-image: url(../img/page-title.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

main #bg_skills::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #212529;
  opacity: .8;
  position: absolute;
}

main .banner-contact {
  background: #f5f6fa;
}

main #section-cards {
  height: 350px;
}

main #cards {
  margin-top: -150px;
}

main .contadores_principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .contadores_principal .contador {
  text-align: center;
}

main .contadores_principal .contador .contador_cantidad {
  font-weight: 600;
  color: #212529;
  font-size: 26px;
}

main .contadores_principal .contador h4 {
  color: #121212;
}

main #bg-wave {
  height: 500px;
  margin-top: -100px;
  z-index: 1;
  background-image: url(../img/slider-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #percentage .container-percentage {
  border: 1px solid #0095D9;
  padding: 1px 5px;
  border-radius: 10px;
}

main #percentage .percentage_bg {
  background: #0095D9;
  height: 10px;
}

footer .logo-footer {
  width: 100px;
}

.pic {
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 50%;
  position: relative;
  z-index: 99 !important;
}

.pic::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border: 10px solid #0095D9;
  left: 0;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  -webkit-animation: wave 1.5s infinite linear;
          animation: wave 1.5s infinite linear;
  z-index: 1 !important;
}

.pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@-webkit-keyframes wave {
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes wave {
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.ocultar {
  opacity: 0;
}

.animar {
  -webkit-animation: aparecer 1.3s;
          animation: aparecer 1.3s;
}

@media (max-width: 780px) {
  header .menu-bar-pc {
    display: none !important;
  }
  header .menu-bar-movil {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .carousel-h {
    height: 100vh !important;
  }
}

@media (max-width: 800px) {
  .container-galery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

animate:hover {
  -webkit-transform: rotate(90deg) !important;
          transform: rotate(90deg) !important;
}

img.grayscale {
  -webkit-filter: url(filters.svg#grayscale);
          filter: url(filters.svg#grayscale);
  /* Firefox 3.5+ */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
  /* Google Chrome & Safari 6+ */
  transition: .2s ease-in;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
}

img.grayscale:hover {
  filter: none;
  -webkit-filter: none;
  transition: .2s ease-in;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
}

.bg-infra {
  background-image: url(../img/infra.jpg);
  height: 300px !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center;
  opacity: .7;
}

.bg-infra:nth-child(2) {
  background-image: url(../img/wifi.jpg);
  opacity: .7;
}

.bg-infra:nth-child(3) {
  background-image: url(../img/cloud.jpg);
  opacity: .7;
}

.bg-infra:nth-child(4) {
  background-image: url(../img/servidor.jpg);
  opacity: .7;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  -webkit-box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.feature-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: .75rem;
}

.icon-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-link > .bi {
  margin-top: .125rem;
  margin-left: .125rem;
  -webkit-transition: -webkit-transform .25s ease-in-out;
  transition: -webkit-transform .25s ease-in-out;
  transition: transform .25s ease-in-out;
  transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
  fill: currentColor;
}

.icon-link:hover > .bi {
  -webkit-transform: translate(0.25rem);
          transform: translate(0.25rem);
}

.icon-square {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: .75rem;
}

.rounded-4 {
  border-radius: .5rem;
}

.rounded-5 {
  border-radius: 1rem;
}

.text-shadow-1 {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}

.text-shadow-2 {
  text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.text-shadow-3 {
  text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.gradient-btn {
  color: #fff;
  background-size: 200% auto;
  background-image: -webkit-gradient(linear, left top, right top, from(#5192e1), color-stop(51%, #134e8c), to(#126bd6));
  background-image: linear-gradient(to right, #5192e1 0%, #134e8c 51%, #126bd6 100%);
}

.gradient-btn:hover {
  background-position: right center !important;
}

.btnsecondary:hover,
.btnsecondary:focus,
.btnprimary:hover,
.btnprimary:focus,
.gradient-btn:hover,
.gradient-btn:focus {
  color: #fff;
}

.button-readmore {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
  font-weight: 500;
}

.btn-dark,
.btn-dark:active {
  background: #2D2D2D !important;
  outline: none;
}

.btn-dark:hover,
.btn-dark:focus {
  border-color: #2D2D2D !important;
  background: transparent !important;
  color: #2D2D2D !important;
}

.btn-dark.hover-light:hover {
  color: #fff;
  border-color: #fff !important;
}

.btn-primary,
.btn-primary:active {
  background: #24CDD5 !important;
  outline: none;
}

.btn-primary:hover,
.btn-primary:focus {
  border-color: #24CDD5 !important;
  background: transparent !important;
  color: #24CDD5 !important;
}

.btn-secondary,
.btn-secondary:active {
  background: #6B747C !important;
  outline: none;
}

.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #6B747C !important;
  background: transparent !important;
  color: #6B747C !important;
}

.button-readmore::after {
  content: "";
  height: 2px;
  width: 70%;
  margin-left: 10px;
  display: inline-block;
  background-size: 200% auto;
  background-image: -webkit-gradient(linear, left top, right top, from(#5192e1), color-stop(51%, #23ced5), to(#5192e1));
  background-image: linear-gradient(to right, #5192e1 0%, #23ced5 51%, #5192e1 100%);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: margin-left 0.2s linear !important;
  transition: margin-left 0.2s linear !important;
}

.button-readmore:hover::after {
  margin-left: 0;
}

.carousel-h {
  height: 500px !important;
}

.carousel-h:nth-child(1) {
  background-image: url(../img/banner-century-vigilancia.jpg);
  background-size: cover;
}

.carousel-h:nth-child(2) {
  background-image: url(../img/banner-century-infra.jpg);
  background-size: cover;
}

.carousel-h:nth-child(3) {
  background-image: url(../img/banner-century.jpg);
  background-size: cover;
}

.hover-up:hover {
  margin-top: -5px !important;
  -webkit-transition: 0.2s ease-in !important;
  transition: 0.2s ease-in !important;
}

.hover-up {
  -webkit-transition: 0.2s ease-in !important;
  transition: 0.2s ease-in !important;
}

.img-animation {
  -webkit-animation: animation 3s infinite;
          animation: animation 3s infinite;
}

@-webkit-keyframes animation {
  0% {
    margin-top: -15px;
    -webkit-transition: .3s ease-in;
    transition: .3s ease-in;
  }
  50% {
    margin-top: 15px;
    -webkit-transition: .3s ease-in;
    transition: .3s ease-in;
  }
  100% {
    margin-top: -15px;
    -webkit-transition: .3s ease-in;
    transition: .3s ease-in;
  }
}

@keyframes animation {
  0% {
    margin-top: -15px;
    -webkit-transition: .3s ease-in;
    transition: .3s ease-in;
  }
  50% {
    margin-top: 15px;
    -webkit-transition: .3s ease-in;
    transition: .3s ease-in;
  }
  100% {
    margin-top: -15px;
    -webkit-transition: .3s ease-in;
    transition: .3s ease-in;
  }
}

.bg-gradient-primary {
  background-image: linear-gradient(310deg, #7928ca, #ff0080);
}

.bg-gradient-info {
  background-image: linear-gradient(310deg, #2152ff, #21d4fd);
}

#canvas, #text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-image: url(../img/banner-tech.png);
  z-index: -1;
}

#banner-clientes {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 280px;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
/*# sourceMappingURL=style.css.map */