$color-principal: #212529;
$color-secundario: #0095D9;
$color-subtitle: #0095D9;
$color-blanco: #efefef;
$color-negro: #121212;
$color-icon: #0095D9;
$color-gris: #f5f6fa;

@font-face {
    font-family: rajdhani;
    src: url(../font/Rajdhani-Regular.ttf);
}

@font-face {
    font-family: rajdhani-bold;
    src: url(../font/Rajdhani-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: rajdhani;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: rajdhani-bold;
}

.color-subtitle {
    color: $color-subtitle !important;
}

.color-icon {
    color: $color-icon !important;
}

.whats-hover:hover {
    text-decoration: underline !important;
    transition: all .3s ease-in !important;
    -webkit-transition: all .3s ease-in !important;
    -o-transition: all .3s ease-in !important;
}

.bg-contact {
    background: $color-secundario;
    border-radius: 0 5px 5px 0;
}

p {
    font-family: rajdhani !important;
}

img {
    width: 100%;
    height: auto;
}

.img-services {
    width: 80px;
}

.bg-none {
    background: none;
}

.color-p {
    color: $color-secundario !important;
}

.color-white {
    color: $color-blanco;
}

.color-g {
    $color-principal: #212529 !important;

}

.bg-principal {
    background: $color-principal !important;
}

.bg-second {
    background: #f5f6fa;
}

.card-shadow {
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.2) !important;
}

.card {
    transition: .1s ease-in;
}

.card:hover {
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.2) !important;
    transition: .1s ease-in;
}

.border-none {
    border: none !important;
}

.border-top {
    border-color: $color-secundario !important;
}

.btn-info {
    background: $color-secundario !important;
    border: 2px solid $color-secundario;
    color: $color-blanco;
}

.btn-secondary {
    background: $color-blanco !important;
    border: 2px solid $color-secundario;
    color: $color-secundario;
}

header {
    .menu-bar-pc {
        background: $color-principal;
        width: 100%;
        height: 80px;
        z-index: 99;
        top: 0;
        padding: 0 2.25rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .logo-nav {
            width: 100px;
        }

        .menu-principal {
            list-style: none;
            display: flex;
            align-items: center;




            .list-menu {

                height: 80px;

                .item-menu {
                    display: flex;

                    a {
                        height: 80px !important;
                        padding: 0 20px;
                        display: flex; // height: 80px;
                        align-items: center;

                    }

                    .sub-menu {
                        background: #fff;
                        width: 150px;
                        margin-top: 80px;
                        display: none;
                        height: 0;
                        transition: .3s ease-in !important;
                        z-index: 99999;

                        .list-submenu {
                            list-style: none;

                            .item-submenu {
                                a {
                                    padding: 10px 20px;

                                    &:hover {
                                        background: rgba(0, 0, 0, 0.2);
                                    }
                                }
                            }
                        }
                    }

                    &:hover {
                        background: rgba(0, 0, 0, 0.2);

                        .sub-menu {

                            display: block;
                            height: auto;
                            transition: .3s ease-in !important;
                        }


                    }
                }
            }






        }

        .top-redes {
            a {
                padding: 0 0.5625rem;
                text-decoration: none;

                i {
                    color: $color-blanco;
                    font-size: 1.65rem;
                }
            }
        }


    }

    .menu-bar-movil {

        background: $color-principal;
        width: 100%;
        // position: fixed;
        z-index: 99;
        top: 0;
        padding: 0 2.25rem;
        display: none;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 5.875rem;
        border-bottom: 1px solid $color-principal;
    }

    // .logo {
    //     max-width: 3.125rem;
    // }

    .burger-menu {
        cursor: pointer;
        font-size: 2.1875rem;

        i {
            color: $color-blanco;
        }

    }

    .slideMenu {
        position: fixed;
        top: 5.875rem;
        left: -80%;
        background: $color-blanco;
        text-align: center;
        padding: 1.25rem 2.25rem;
        width: 80%;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;

        &.active {
            left: 0;
        }

        .top-redes {
            margin-bottom: 0.625rem;

            a {
                padding: 0 0.5625rem;
                text-decoration: none;
                color: $color-negro;
            }
        }

        .menu-principal {

            a {
                text-decoration: none;
                display: block;
                padding: 0.625rem 0;
                border-top: 1px solid #d1d1d1;
                color: #872FA8;
            }
        }
    }
}


main {

    //   PRUEBA SLIDE 
    html {
        box-sizing: border-box;
    }
    
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    
    @mixin media($breakpoint) {
        @media (max-width: $breakpoint) {
            @content;
        }
    }
    
    @mixin media-min($breakpoint) {
        @media (min-width: $breakpoint) {
            @content;
        }
    }
    
    @mixin media-height($breakpoint) {
        @media (max-height: $breakpoint) {
            @content;
        }
    }
    
    // ------------- VARIABLES ------------- //
    $whitespace-height: 50px;
    $left-offset: 13vw;
    $rect-width: 48vh;
    $rect-height: 62vh;
    $rect-border-width: 5vh;
    $control-btn-padding: 1.6rem;
    $control-active-btn-offset: .3rem;
    $left-offset-small: 9vw;
    $rect-height-small: 20vw;
    $rect-width-small: 16vw;
    $rect-border-width-small: 5vh;
    // ------------- GENERAL ------------- //
    %callout {
        font-family: 'Montserrat';
        text-transform: uppercase;
        color: #fff;
        letter-spacing: .12rem;
        font-size: .7rem;
        line-height: 1;
    }
    
    [v-cloak] {
        opacity: 0;
    }
    
    body {
        cursor: default;
        ::selection {
            background-color: rgba(46, 49, 52, .7);
            color: #f5f5f1;
        }
        ::-moz-selection {
            background-color: rgba(46, 49, 52, .7);
            color: #f5f5f1;
        }
    }
    
    .wrapper {
        height: calc(100vh - #{$whitespace-height});
        min-height: 36rem;
        position: relative;
        @include media(630px) {
            height: 100vh;
            min-height: 0;
        }
    }
    
    // ------------- SLIDES ------------- //
    .slide {
        &-wrapper {
            background-size: cover;
            height: 100%;
            background-position: center center;
            position: absolute;
            width: 100%;
            background-blend-mode: darken;
            &:nth-child(1) {
                background-color: rgba(115, 129, 153, .4);
                &:before {
                    background-color: rgba(115, 129, 153, .25);
                }
                .slide-content-text {
                    text-shadow: 2px 5px 45px rgba(85, 96, 113, 0.25);
                }
            }
            &:nth-child(2) {
                background-color: rgba(144, 171, 184, .7);
                &:before {
                    background-color: rgba(144, 171, 184, .3);
                }
                .slide-content-text {
                    text-shadow: 2px 5px 45px rgba(121, 142, 152, 0.2);
                }
            }
            &:nth-child(3) {
                background-color: rgba(86, 125, 156, .5);
                &:before {
                    background-color: rgba(86, 125, 156, 0.2);
                }
                .slide-content-text {
                    text-shadow: 2px 5px 55px rgba(57, 83, 103, 0.4);
                }
            }
            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
        }
        &-inner {
            position: relative;
            z-index: 2;
            height: 100%;
            overflow: hidden;
        }
        &-bg-text {
            font-family: 'Playfair Display';
            color: #000;
            font-size: 42vh;
            line-height: .8;
            opacity: .03;
            font-weight: 900;
            margin-top: -4rem;
            position: absolute;
            top: 50%;
            left: 5vw;
            transform: translateY(-50%);
            > p:last-child {
                padding-left: 4rem;
            }
        }
        &-content {
            color: #fff;
            margin-top: 5rem;
            position: absolute;
            top: 50%;
            left: calc(#{$left-offset} + (.7) * #{$rect-width});
            transform: translateY(-50%);
            display: flex;
            flex-direction: column;
            @include media(1000px) {
                left: calc(#{$left-offset} + 1rem);
            }
            @include media-height(730px) {
                top: 30%;
                transform: translateY(-30%);
                left: calc(#{$left-offset-small} + (.7) * #{$rect-width-small});
            }
            &-text {
                font-family: 'Playfair Display';
                font-size: 9rem;
                letter-spacing: .2rem;
                line-height: .87;
                font-weight: 700;
                will-change: auto;
                @include media-height(790px) {
                    font-size: 7rem;
                }
                @include media(1150px) {
                    font-size: 7rem;
                }
                @include media(840px) {
                    font-size: 5.5rem;
                }
                @include media(630px) {
                    margin-bottom: 5.5rem;
                }
                @include media(500px) {
                    font-size: 3.5rem;
                }
                > p:last-child {
                    padding-left: 3rem;
                }
            }
            &-cta {
                @extend %callout;
                cursor: pointer;
                align-self: flex-start;
                margin-top: 4.5rem;
                margin-left: calc((.3) * 48vh + 4.5rem);
                padding: .9rem 2.2rem;
                border-left: 1px solid #fff;
                border-right: 1px solid #fff;
                transition: .18s ease-in-out;
                font-weight: 700;
                @include media(1000px) {
                    background-color: rgba(255, 255, 255, .3);
                    padding-top: 1.2rem;
                    padding-bottom: 1.2rem;
                }
                @include media(630px) {
                    display: none;
                }
                &:hover {
                    color: #000;
                    background-color: #fff;
                }
            }
        }
        &-rect {
            height: $rect-height;
            width: $rect-width;
            border-image-slice: 10%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: $left-offset;
            border-width: $rect-border-width;
            border-style: solid;
            box-shadow: 2px 2px 90px 30px rgba(41, 50, 61, 0.22);
            will-change: auto;
            @include media-height(790px) {
                left: $left-offset-small;
                height: $rect-height-small;
                width: $rect-width-small;
                border-width: $rect-border-width-small;
            }
            @include media-height(730px) {
                top: 30%;
                transform: translateY(-30%);
            }
            &-filter {
                filter: brightness(110%) contrast(110%) saturate(110%);
            }
        }
        &-side-text {
            @extend %callout;
            position: absolute;
            left: calc(#{$left-offset} - 3rem);
            writing-mode: vertical-rl;
            top: calc((50% - (#{$rect-height} / 2)) + (#{$rect-border-width} / 2));
            @include media-height(790px) {
                left: calc(#{$left-offset-small} - 3rem);
                top: calc((50% - (#{$rect-height-small} / 2)) + (#{$rect-border-width-small} / 2));
            }
            @include media-height(730px) {
                top: calc((40% - (#{$rect-height-small} / 2)) + (#{$rect-border-width-small} / 2));
            }
            > span:first-child {
                font-weight: 700;
            }
            &:after {
                content: "";
                width: 1px;
                background-color: #fff;
                height: 40px;
                display: block;
                position: absolute;
                top: calc(100% + 25px);
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    
    // ------------- CONTROLS ------------- //
    .controls {
        &-container {
            position: absolute;
            z-index: 200;
            display: flex;
            bottom: 0;
            right: 0;
            align-items: flex-end;
            @include media(630px) {
                display: none;
            }
        }
        &-button {
            @extend %callout;
            cursor: pointer;
            background-color: rgba(208, 206, 204, .32);
            border: 0;
            padding: $control-btn-padding 2.2rem;
            flex-basis: 0;
            flex-grow: 1;
            min-width: 15rem;
            transition: .25s ease-in-out;
            outline: 0;
            @include media(730px) {
                padding: 1.2rem 1.4rem;
                min-width: 13rem;
            }
            &:not(.active) {
                &:hover {
                    color: #000;
                    background-color: #fff;
                }
            }
            &.active {
                cursor: default;
                font-weight: 700;
                background-color: #3b3e45;
                padding-top: $control-btn-padding + $control-active-btn-offset;
                padding-bottom: $control-btn-padding + $control-active-btn-offset;
                margin-bottom: -$control-active-btn-offset;
                position: relative;
                @include media(730px) {
                    padding-top: 1.4rem;
                    padding-bottom: 1.4rem;
                    margin-bottom: -0.15rem;
                }
                &:after {
                    content: "";
                    background-color: #e3e3e3;
                    height: 5px;
                    width: calc(100% - 8px);
                    position: absolute;
                    top: 100%;
                    left: 4px;
                }
            }
            &:not(.active) + & {
                border-left: 1px solid rgba(255, 255, 255, .2);
            }
        }
    }
    
    // ------------- PAGINATION ------------- //
    .pagination {
        &-container {
            position: absolute;
            z-index: 200;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            right: 2rem;
            top: 50%;
            transform: translateY(-50%);
            @include media(920px) {
                display: none;
            }
        }
        &-item {
            width: 30px;
            height: 1px;
            background-color: rgba(255, 255, 255, .6);
            transition: .18s ease-in-out;
            & + & {
                margin-top: 1rem;
            }
            &.active {
                background-color: #fff;
                position: relative;
                transform: translateX(-.6rem);
                width: 35px;
                &:after {
                    content: "";
                    height: 4px;
                    width: 2px;
                    border-radius: 35%;
                    background-color: #fff;
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateX(.6rem) translateY(-50%);
                }
            }
            &:not(.active) {
                cursor: pointer;
                &:hover {
                    background-color: #fff;
                    width: 35px;
                }
            }
        }
    }
    
    // ------------- ANIMATION EFFECT ------------- //
    $slide-swipe: .9s;
    $text-cut-up: .5s;
    @keyframes slideLeft {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%);
        }
    }
    
    @keyframes slideRight {
        from {
            transform: translateX(-100%);
        }
        to {
            transform: translateX(0);
        }
    }
    
    @keyframes cutTextUp {
        from {
            clip-path: inset(0 0 -10% 0);
        }
        to {
            clip-path: inset(0 0 100% 0);
        }
    }
    
    @keyframes cutTextDown {
        from {
            clip-path: inset(100% 0 0 0);
        }
        to {
            clip-path: inset(-10% 0 -20% 0);
            opacity: 1;
        }
    }
    
    @keyframes cutTextDownFromTop {
        from {
            clip-path: inset(0 0 100% 0);
        }
        to {
            clip-path: inset(0 0 -30% 0);
            opacity: 1;
        }
    }
    
    @keyframes rectMovement {
        0% {
            transform: translateX(0) rotate(0) translateY(-50%);
        }
        60% {
            opacity: 1;
        }
        100% {
            transform: translateX(calc(-#{$rect-width} + -#{$left-offset})) rotate(12deg) translateY(-50%);
            opacity: 0;
        }
    }
    
    @include media-height(730px) {
        @keyframes rectMovement {
            0% {
                transform: translateX(0) rotate(0) translateY(-30%);
            }
            60% {
                opacity: 1;
            }
            100% {
                transform: translateX(calc(-#{$rect-width} + -#{$left-offset})) rotate(12deg) translateY(-30%);
                opacity: 0;
            }
        }
    }
    
    @keyframes rectMovementFromRight {
        0% {
            transform: translateX(calc(#{$rect-width})) rotate(12deg) translateY(-50%);
            opacity: 0;
        }
        60% {
            opacity: 1;
        }
        100% {
            transform: translateX(0) rotate(0) translateY(-50%);
            opacity: 1;
            @include media-height(730px) {
                transform: translateX(0) rotate(0) translateY(-30%);
            }
        }
    }
    
    @include media-height(730px) {
        @keyframes rectMovementFromRight {
            0% {
                transform: translateX(calc(#{$rect-width})) rotate(12deg) translateY(-30%);
                opacity: 0;
            }
            60% {
                opacity: 1;
            }
            100% {
                transform: translateX(0) rotate(0) translateY(-30%);
                opacity: 1;
            }
        }
    }
    
    @keyframes rectMovementRight {
        0% {
            transform: translateX(calc(-#{$rect-width} + -#{$left-offset})) rotate(12deg) translateY(-50%);
        }
        40% {
            opacity: 1;
        }
        100% {
            transform: translateX(0) rotate(0) translateY(-50%);
            opacity: 1;
            @include media-height(730px) {
                transform: translateX(0) rotate(0) translateY(-30%);
            }
        }
    }
    
    @include media-height(730px) {
        @keyframes rectMovementRight {
            0% {
                transform: translateX(calc(-#{$rect-width} + -#{$left-offset})) rotate(12deg) translateY(-30%);
            }
            40% {
                opacity: 1;
            }
            100% {
                transform: translateX(0) rotate(0) translateY(-30%);
                opacity: 1;
            }
        }
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    .slide-wrapper {
        opacity: 0;
        transition-delay: $slide-swipe + $text-cut-up;
        transition-duration: 0s;
        transition-property: opacity;
        will-change: opacity, transform;
        &:not(.active) {
            animation-delay: $text-cut-up;
            animation-name: slideLeft;
            animation-duration: $slide-swipe;
            animation-timing-function: cubic-bezier(0.18, 0.54, 0.52, 0.93);
            pointer-events: none;
            .slide-content-text > p,
            .slide-side-text {
                animation-name: cutTextUp;
                animation-duration: $text-cut-up;
                animation-timing-function: ease-out;
            }
            .slide-rect {
                animation-name: rectMovement;
                animation-duration: $text-cut-up;
                animation-timing-function: ease;
                animation-fill-mode: forwards;
            }
        }
        &.active {
            transition-delay: 0s;
            opacity: 1;
            .slide-content-text > p {
                opacity: 0;
                animation-delay: $text-cut-up + .3s;
                animation-name: cutTextDown;
                animation-duration: $text-cut-up;
                animation-timing-function: ease;
                animation-fill-mode: forwards;
            }
            .slide-rect {
                opacity: 0;
                animation-name: rectMovementFromRight;
                animation-duration: $text-cut-up - .05s;
                animation-timing-function: ease;
                animation-fill-mode: forwards;
                animation-delay: $slide-swipe;
            }
        }
        .is-previous & {
            &:not(.active) {
                animation: none;
                .slide-rect {
                    animation: none;
                }
            }
            &.active {
                transform: translateX(-100%);
                animation-fill-mode: forwards;
                animation-delay: $text-cut-up;
                animation-name: slideRight;
                animation-duration: $slide-swipe - .1s;
                animation-timing-function: cubic-bezier(0.18, 0.54, 0.52, 0.93);
                .slide-rect {
                    opacity: 0;
                    animation-name: rectMovementRight;
                    animation-duration: $text-cut-up;
                    animation-timing-function: ease-out;
                    animation-fill-mode: forwards;
                    animation-delay: $slide-swipe;
                }
            }
        }
    }
    
    .first-load {
        .slide-wrapper.active .slide-side-text,
        .slide-wrapper.active .slide-content-cta,
        .slide-wrapper.active .slide-rect,
        .controls-container {
            opacity: 0;
            animation-name: fadeIn;
            animation-delay: .3s;
            animation-duration: .3s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-in;
        }
        .slide-wrapper.active .slide-content-text > p {
            animation-name: fadeIn;
            animation-delay: $text-cut-up;
            animation-duration: $text-cut-up + .2s;
        }
    }

    #banner-desarrollo {
        width: 100%;
        height: 600px;
        background-image: url(../img/img-banner-desarrollo.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center -300px;
    }

    #portada {
        width: 100%;
        height: 600px;
        background-image: url(../img/infraestructura-it.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    #portada-desarrollo {
        width: 100%;
        height: 600px;
        background-image: url(../img/Recurso2.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: right;

    }

    #banner-clientes {
        background-image: url(../img/banner-tech.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 280px;
        display: flex;
        align-items: center;
    }

    #bg_skills {
        width: 100%;
        height: 100%;

        background-image: url(../img/page-title.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            background: $color-principal;
            opacity: .8;
            position: absolute;

        }
    }

    .banner-contact {
        background: #f5f6fa;
    }

    #section-cards {
        height: 350px;
    }

    #cards {
        margin-top: -150px;
    }

    .contadores_principal {
        // background: #ebebeb;
        display: flex;
        justify-content: center;

        .contador {
            text-align: center;

            .contador_cantidad {
                font-weight: 600;
                color: $color-principal;
                font-size: 26px;
            }

            h4 {
                color: $color-negro;
            }
        }
    }

    #bg-wave {
        height: 500px;
        margin-top: -100px;
        z-index: 1;
        background-image: url(../img/slider-2.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    // ABOUT

    #percentage {

        .container-percentage {
            border: 1px solid $color-secundario;
            padding: 1px 5px;
            border-radius: 10px;
        }

        .percentage_bg {
            background: $color-secundario;
            height: 10px;
            // width: 90%;
        }


    }

}

footer {
    .logo-footer {
        width: 100px;
    }
}

.pic {
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 20px;
    // border: 2px solid $color-secundario;
    border-radius: 50%;
    position: relative;
    z-index: 99 !important;
}

.pic::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border: 10px solid $color-secundario;
    left: 0;
    top: 0;
    box-sizing: border-box;
    border-radius: 50%;
    animation: wave 1.5s infinite linear;
    z-index: 1 !important;

}

.pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%
}

@keyframes wave {
    to {
        transform: scale(1.5);
        opacity: 0
    }
}

@keyframes aparecer {

    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}

.ocultar {
    opacity: 0;
}

.animar {
    animation: aparecer 1.3s;
}

@media (max-width:780px) {
    header {
        .menu-bar-pc {
            display: none !important;
        }

        .menu-bar-movil {
            display: flex !important;
        }
    }
}

@media (max-width: 800px) {
    .container-galery {
        display: flex;
        flex-wrap: wrap;
    }
}

animate:hover {
    transform: rotate(90deg) !important;
}

img.grayscale {
    filter: url(filters.svg#grayscale);
    /* Firefox 3.5+ */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(1);
    /* Google Chrome & Safari 6+ */
    transition: .2s ease-in;
    -webkit-transition: .2s ease-in;
    -o-transition: .2s ease-in;
}

img.grayscale:hover {
    filter: none;
    -webkit-filter: none;
    transition: .2s ease-in;
    -webkit-transition: .2s ease-in;
    -o-transition: .2s ease-in;
}

.bg-infra {
    background-image: url(../img/infra.jpg);
    //   width: 100%;
    height: 300px !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center;
    opacity:.7;

    &:nth-child(2) {
        background-image: url(../img/wifi.jpg);
        opacity:.7;
    }

    &:nth-child(3) {
        background-image: url(../img/cloud.jpg);
        opacity:.7;
    }

    &:nth-child(4) {
        background-image: url(../img/servidor.jpg);
        opacity:.7;
    }
}


.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  
  .feature-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #fff;
    border-radius: .75rem;
  }
  
  .icon-link {
    display: inline-flex;
    align-items: center;
  }
  .icon-link > .bi {
    margin-top: .125rem;
    margin-left: .125rem;
    transition: transform .25s ease-in-out;
    fill: currentColor;
  }
  .icon-link:hover > .bi {
    transform: translate(.25rem);
  }
  
  .icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: .75rem;
  }
  
  .rounded-4 { border-radius: .5rem; }
  .rounded-5 { border-radius: 1rem; }
  
  .text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
  .text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
  .text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }
  
  .card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  






// BUTTONS

.gradient-btn {
	color: #fff;
	-webkit-background-size: 200% auto;
	background-size: 200% auto;
	background-image: -webkit-gradient(linear, left top, right top, from(#5192e1), color-stop(51%, #23ced5), to(#5192e1));
	background-image: -webkit-linear-gradient(left, #5192e1 0%, #23ced5 51%, #5192e1 100%);
	background-image: -moz-linear-gradient(left, #5192e1 0%, #23ced5 51%, #5192e1 100%);
	background-image: -o-linear-gradient(left, #5192e1 0%, #23ced5 51%, #5192e1 100%);
	background-image: linear-gradient(to right, #5192e1 0%, #134e8c 51%, #126bd6 100%);
}

.gradient-btn:hover {
	background-position: right center;
}

.btnsecondary:hover,
.btnsecondary:focus,
.btnprimary:hover,
.btnprimary:focus,
.gradient-btn:hover,
.gradient-btn:focus {
	color: #fff;
}

.btnsecondary:hover,
.btnsecondary:focus {}

.btnprimary:hover,
.btnprimary:focus {}

.button-readmore {
	display: inline-block;
	position: relative;
	padding-bottom: 5px;
	font-weight: 500;
}

.btn-dark,
.btn-dark:active {
	background: #2D2D2D !important;
	outline: none;
}

.btn-dark:hover,
.btn-dark:focus {
	border-color: #2D2D2D !important;
	background: transparent !important;
	color: #2D2D2D !important;
}

.btn-dark.hover-light:hover {
	color: #fff;
	border-color: #fff !important;
}

.btn-primary,
.btn-primary:active {
	background: #24CDD5 !important;
	outline: none;
}

.btn-primary:hover,
.btn-primary:focus {
	border-color: #24CDD5 !important;
	background: transparent !important;
	color: #24CDD5 !important;
}

.btn-secondary,
.btn-secondary:active {
	background: #6B747C !important;
	outline: none;
}

.btn-secondary:hover,
.btn-secondary:focus {
	border-color: #6B747C !important;
	background: transparent !important;
	color: #6B747C !important;
}

.button-readmore::after {
	content: "";
	height: 2px;
	width: 70%;
	margin-left: 10px;
	display: inline-block;
	-webkit-background-size: 200% auto;
	background-size: 200% auto;
	background-image: -webkit-gradient(linear, left top, right top, from(#5192e1), color-stop(51%, #23ced5), to(#5192e1));
	background-image: -webkit-linear-gradient(left, #5192e1 0%, #23ced5 51%, #5192e1 100%);
	background-image: -moz-linear-gradient(left, #5192e1 0%, #23ced5 51%, #5192e1 100%);
	background-image: -o-linear-gradient(left, #5192e1 0%, #23ced5 51%, #5192e1 100%);
	background-image: linear-gradient(to right, #5192e1 0%, #23ced5 51%, #5192e1 100%);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transition: margin-left 0.2s linear;
	-o-transition: margin-left 0.2s linear;
	transition: margin-left 0.2s linear;
}

.button-readmore:hover::after {
	margin-left: 0;
}

