@font-face {
  font-family: rajdhani;
  src: url(../font/Rajdhani-Regular.ttf);
}

@font-face {
  font-family: rajdhani-bold;
  src: url(../font/Rajdhani-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: rajdhani;
}

h1, h2, h3, h4, h5, h6 {
  font-family: rajdhani-bold;
}

p {
  font-family: rajdhani !important;
}

img {
  width: 100%;
  height: auto;
}

.img-services {
  width: 80px;
}

.bg-none {
  background: none;
}

.color-p {
  color: steelblue !important;
}

.color-white {
  color: #efefef;
}

.bg-principal {
  background: #091125;
}

.bg-second {
  background: steelblue;
}

.card-shadow {
  -webkit-box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.2) !important;
          box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.2) !important;
}

.card {
  -webkit-transition: .1s ease-in;
  transition: .1s ease-in;
}

.card:hover {
  -webkit-box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.2) !important;
          box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.2) !important;
  -webkit-transition: .1s ease-in;
  transition: .1s ease-in;
}

.border-none {
  border: none !important;
}

.border-top {
  border-color: steelblue !important;
}

img {
  width: 100%;
  height: auto;
}

.btn-info {
  background: steelblue !important;
  border: 2px solid #59851c;
  color: #efefef;
}

.btn-secondary {
  background: #efefef !important;
  border: 2px solid steelblue;
  color: steelblue;
}

header .menu-bar-pc {
  background: #091125;
  width: 100%;
  position: absolute;
  z-index: 99;
  top: 0;
  padding: 0 2.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 5.875rem;
}

header .menu-bar-pc .menu-principal {
  list-style: none;
}

header .menu-bar-pc .menu-principal a {
  padding: 0 0.5625rem;
  text-decoration: none;
  color: #efefef;
}

header .menu-bar-pc .top-redes a {
  padding: 0 0.5625rem;
  text-decoration: none;
}

header .menu-bar-pc .top-redes a i {
  color: #efefef;
  font-size: 1.65rem;
}

header .menu-bar-movil {
  background: #091125;
  width: 100%;
  position: fixed;
  z-index: 99;
  top: 0;
  padding: 0 2.25rem;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 5.875rem;
  border-bottom: 1px solid #091125;
}

header .burger-menu {
  cursor: pointer;
  font-size: 2.1875rem;
}

header .burger-menu i {
  color: #efefef;
}

header .slideMenu {
  position: fixed;
  top: 5.875rem;
  left: -80%;
  background: #efefef;
  text-align: center;
  padding: 1.25rem 2.25rem;
  width: 80%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

header .slideMenu.active {
  left: 0;
}

header .slideMenu .top-redes {
  margin-bottom: 0.625rem;
}

header .slideMenu .top-redes a {
  padding: 0 0.5625rem;
  text-decoration: none;
  color: #121212;
}

header .slideMenu .menu-principal a {
  text-decoration: none;
  display: block;
  padding: 0.625rem 0;
  border-top: 1px solid #d1d1d1;
  color: #872FA8;
}

main #portada {
  width: 100%;
  height: 600px;
  background-image: url(../img/infraestructura-it.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main #banner_about {
  width: 100%;
  height: 500px;
  background-image: url(../img/infraestructura-it.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

main #bg_skills {
  width: 100%;
  height: 100%;
  background-image: url(../img/page-title.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

main #bg_skills::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #091125;
  opacity: .8;
  position: absolute;
}

main .banner-contact {
  background: steelblue;
}

main #section-cards {
  height: 350px;
}

main #cards {
  margin-top: -150px;
}

main .contadores_principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .contadores_principal .contador {
  text-align: center;
}

main .contadores_principal .contador .contador_cantidad {
  font-weight: 600;
  color: #091125;
  font-size: 26px;
}

main .contadores_principal .contador h4 {
  color: #121212;
}

main #bg-wave {
  height: 500px;
  margin-top: -100px;
  z-index: 1;
  background-image: url(../img/slider-2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main #percentage .container-percentage {
  border: 1px solid steelblue;
  padding: 1px 5px;
  border-radius: 10px;
}

main #percentage .percentage_bg {
  background: steelblue;
  height: 10px;
}

.pic {
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 50%;
  position: relative;
  z-index: 99 !important;
}

.pic::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border: 10px solid steelblue;
  left: 0;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  -webkit-animation: wave 1.5s infinite linear;
          animation: wave 1.5s infinite linear;
  z-index: 1 !important;
}

.pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@-webkit-keyframes wave {
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes wave {
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.ocultar {
  opacity: 0;
}

.animar {
  -webkit-animation: aparecer 1.3s;
          animation: aparecer 1.3s;
}

@media (max-width: 780px) {
  header .menu-bar-pc {
    display: none !important;
  }
  header .menu-bar-movil {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (max-width: 800px) {
  .container-galery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
/*# sourceMappingURL=style.css.map */